body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #1e1e1e ;
    color: whitesmoke;
    text-align: center;
    padding: 30px 0;
}
header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 10px 0;
    border-radius: 50%;
}

h2 {
  color: #1e90ff;
  border-bottom: 2px solid #1e90ff;
  padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

button {
    background-color: #1e90ff;
}

footer {
    text-align: center;
    padding: 15px 0;
    background-color: #1e1e1e ;
    color: white;
    margin-top: 20px;
}

@media (max-width: 600px) {
    main {
        margin: 10px;
        padding: 15px;
    }
}